@using EPiServer.Framework.Web.Mvc.Html
@inject Foundation.Features.Header.IHeaderViewModelFactory factory
@model IContentViewModel<IContent>

@{
    Layout = "~/Features/Shared/Views/_MasterLayout.cshtml";
    var foundationPageData = Model.CurrentContent as IFoundationContent;
}

@section AdditionalStyles {
    @RenderSection("AdditionalStyles", required: false)
}

<div class="loading-box" style="display: none">
    <div class="loader"></div>
</div>

@await Html.RenderEPiServerQuickNavigatorAsync()

@if (!foundationPageData?.HideSiteHeader ?? false)
{
    await Html.RenderPartialAsync("_Header", factory.CreateHeaderViewModel(Model.CurrentContent, Model.StartPage));
}
else
{
    await Html.RenderPartialAsync("_HeaderLogo", factory.CreateHeaderLogoViewModel());
}


<div class="container">
    @RenderBody()
</div>

@if (!foundationPageData?.HideSiteFooter ?? false)
{
    await Html.RenderPartialAsync("_Footer", Html.GetLayoutSettings());
}

<script src="~/js/main.min.js"></script>

@RenderSection("AdditionalScripts", required: false)
@Html.RequiredClientResources("Footer")
@Html.RenderFooterScripts(Model.CurrentContent)
@Model.SchemaMarkup